/* You can add global styles to this file, and also import other style files */

.modal-dialog.modal-editor-wide {
  width: 96vw !important;
  max-width: 96vw !important;
}

.modal-dialog.modal-editor-wide .viewport-modal {
  width: 100% !important;
  max-width: none !important;
}

.modal-dialog.modal-editor-wide .modal-content {
  width: 100% !important;
}
