<c8y-title>{{ 'All extensions' | translate }}</c8y-title>

<c8y-breadcrumb>
  <c8y-breadcrumb-item [icon]="'c8y-atom'" [label]="'Analytics' | translate"></c8y-breadcrumb-item>
  <c8y-breadcrumb-item
    [icon]="'c8y-modules'"
    [label]="'Extensions' | translate"
    [path]="'sag-ps-pkg-analytics-extension/manage'"
  ></c8y-breadcrumb-item>
</c8y-breadcrumb>

<c8y-action-bar-item [placement]="'right'">
  <button
    (click)="addExtension()"
    class="btn btn-link"
    title="{{ 'Add Extension' | translate }}"
  >
    <i c8yIcon="plus-circle"></i>
    {{ 'Add Extension' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'right'">
  <button
    (click)="restartCEP()"
    class="btn btn-link"
    title="{{ 'Deploy Extensions (Restart)' | translate }}"
  >
    <i c8yIcon="c8y-solution-accelerator"></i>
    {{ 'Deploy Extensions (Restart)' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'right'">
  <button (click)="loadExtensions()" class="btn btn-link" title="{{ 'Refresh' | translate }}">
    <i [ngClass]="{ 'icon-spin': loading }" c8yIcon="refresh"></i>
    {{ 'Refresh' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'left'" itemClass="navbar-form hidden-xs">
  <c8y-list-display-switch
    (onListClassChange)="listClass = $event"
    [listLength]="(extensions$ | async)?.length"
  ></c8y-list-display-switch>
</c8y-action-bar-item>

<div *ngIf="!loadingError &&((extensions$ | async)?.length === 0)" class="c8y-empty-state text-center">
  <h1 class="c8y-icon c8y-icon-modules c8y-icon-duocolor"></h1>
  <h3 translate>No extension to display.</h3>
  <p translate>Add your first extension by clicking below.</p>
  <p>
    <button
      (click)="addExtension()"
      class="btn btn-primary"
      title="{{ 'Add Extension' | translate }}"
    >
      {{ 'Add Extension' | translate }}
    </button>
  </p>
</div>

<div [ngClass]="listClass" class="card-group"  *ngIf="!loading">
  <div class="page-sticky-header hidden-xs flex-row" *ngIf="(extensions$ | async)?.length > 0">
    <div class="card-block card-column-40">
      <div class="card-appicon p-l-32 p-r-16 m-r-0 m-l-4"></div>
      {{ 'Extension' | translate }}
    </div>
    <div class="card-block p-0 card-column-80">
      <div class="card-block card-column-20"></div>
    </div>
  </div>
  <div *ngFor="let extension of extensions$ | async" class="col-xs-12 col-sm-4 col-md-3">
      <extension-card
        (onAppDeleted)="loadExtensions()"
        [extension]="extension"
        class="d-contents"
      ></extension-card>
  </div>

</div>
<div class="card-block" style="padding-top: 48px" *ngIf="loadingError">
  <div class="col-lg-8 col-lg-offset-3 m-b-48">
    <h2>
      <span class="label label-primary text-14">
        Please stand by until the streaming analytics engine is started successfully. Retry in a short while ...
      </span>
    </h2>
  </div>
</div>