<c8y-modal title="Repositories for blocks" (onClose)="onSave()" (onDismiss)="onCancel()" [labels]="labels"
  [headerClasses]="'modal-header dialog-header'" [disabled]="!saveRequired">

  <ng-container c8y-modal-title>
    <span [c8yIcon]="'plugin'"></span>
  </ng-container>
  <div class="p-48 modal-inner-scroll animated fadeIn">
    <div class="modal-body">
      <div class="p-24 elevation-sm">
        <table class="table table-head-fixed">
          <thead>
            <tr>
              <th width="5%"></th>
              <th width="5%">Id</th>
              <th width="15%">Name</th>
              <th width="70%">URL</th>
              <th width="5%">Enabled</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let repository of (repositories$| async); let i = index">
              <td>
                <label class="c8y-radio" style="margin-top: 8px;" title="Checkbox">
                  <input type="radio" (click)="editRepository(repository, i)"
                    [checked]="selectedRepositoryIndex == i" />
                  <span></span>
                </label>
              </td>
              <td>
                {{ repository.id }}
              </td>
              <td>
                {{ repository.name }}
              </td>
              <td>
                {{ repository.url }}
              </td>
              <td class="j-c-center_">
                <label class="c8y-switch">
                  <input title="{{ 'Toggle activation' | translate }}" type="checkbox" [checked]="repository?.enabled"
                    (click)="toggleActivation(repository)" />
                  <span></span>
                </label>
              </td>
              <td width="10%" class="j-c-center_">
                <button title="{{ 'Delete' | translate }}" class="btn btn-icon btn-clean showOnHover"
                  (click)="deleteRepository(repository.id)">
                  <i c8yIcon="trash-o" class="text-danger"></i>
                  <span class="sr-only" translate>Delete</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="legend form-block">Selected repository</div>
        <form [formGroup]="repositoryForm" autocomplete="off">
          <fieldset>
            <input type="hidden" formControlName="id" />
            <c8y-form-group>
              <label >Name</label>
              <input type="text" id="name" formControlName="name" class="form-control" />
            </c8y-form-group>
            <c8y-form-group>
              <label ><span>{{'Repository URL '}}</span>
                <button type="button" placement="right"
                  [popover]="'Enter the last parts to a github repository. If no branch name is given, the default branch \'main\' is assumed.'"
                  class="btn-help" aria-label="Help content"></button>
              </label>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">
                 {{ GITHUB_URL}}
                </span>
                <input type="text" title="Repository URL" id="url" autocomplete="off" formControlName="url" (change)="warnAboutPATReset()"
                  placeholder="without the prefix 'https://github.com/'', e.g. 'apama-analytics-builder-block-sdk/tree/main/samples/blocks'"
                  class="form-control" />
              </div>
            </c8y-form-group>
            <c8y-form-group>
              <ng-template #popTemplate>
                <div [innerHtml]="popup"></div>
              </ng-template>
              <label ><span>{{'Personal Access Token'}}</span>
                <button type="button" placement="right" [popover]="popTemplate" class="btn-help"
                  aria-label="Help content"></button>
              </label>

              <input type="password" title="Access Token" id="accessToken" formControlName="accessToken"
                placeholder="e.g.: your github Personal Access Token (PAT)" class="form-control" />

            </c8y-form-group>
            <!-- Add any other form controls based on your repository model -->
            <button (click)="addRepository()" class="btn btn-default"
              [disabled]="selectedRepositoryIndex != -1 || !repositoryForm.valid" style="min-width:110px">
              Add
            </button>
            <button (click)="updateRepository()" class="btn btn-default" [disabled]="selectedRepositoryIndex == -1"
              style="min-width:110px">
              Update
            </button>
            <button (click)="testRepository()" class="btn btn-default"
              [disabled]="!repositoryForm.value.accessToken || repositoryForm.value.accessToken === '' || repositoryForm.value.accessToken === DUMMY_ACCESS_TOKEN"
              style="min-width:110px">
              Test
            </button>
            <button type="button" placement="right" [popover]="'Enter you PAT access token to test'" triggers="focus"
              class="btn-help" aria-label="Help content"></button>
            <button (click)="resetForm()" class="btn btn-default" style="min-width:110px">
              Reset form
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</c8y-modal>