<div class="card pointer card--d-col">
  <div
    (click)="detail()"
    class="card-block text-center card-column-20"
  >
    <div class="card-appicon">
      <c8y-app-icon
        [app]="extension"
        [contextPath]="extension.contextPath"
        [name]="extension.name"
      ></c8y-app-icon>
    </div>
    <span class="e2e-appCardName text-medium" title="{{ extension.name }}">
      {{ extension.name }}
    </span>
  </div>
  <div
    class="card-block p-0 no-min-height card--d-col card-column-20"
  >
    <div class="text-center">
      <span
        [class]="
          extension.loaded === true
            ? 'label label-primary'
            : 'label label-info'
        "
      >
        {{
          extension.loaded === true ? 'Loaded' : ('Unknown' | translate)
        }}</span
      >
    </div>

    <div class="text-center" *ngIf="extension.loaded !== true">
      <span
      >
        {{
          'This is not an EPL extension'
        }}</span
      >
    </div>
  </div>
  <div
    class="card-block p-0 no-min-height card--d-col card-column-20"
  >
    <div class="text-center" *ngIf="extension.loaded">
      <span
        >{{ extension.blocksCount }}&nbsp;{{
          extension.blocksCount === 1 ? 'Block' : 'Blocks'
        }}</span
      >
    </div>
  </div>
  <div
    class="card-block p-0 no-min-height card--d-col card-column-20"
  >
    <div class="text-center">
      <span>{{ extension.lastUpdated | c8yDate: 'medium' }}</span>
    </div>
  </div>

  <div
  class="card-footer"
>
  <div class="text-center">
    <span></span>
  </div>
</div>

  <div class="card-actions m-t-0">
    <div class="dropdown" dropdown>
      <button
        class="dropdown-toggle c8y-dropdown"
        dropdownToggle
        title="{{ 'Settings' | translate }}"
      >
        <i c8yIcon="ellipsis-v"></i>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <li>
          <button
            (click)="detail()"
            title="{{ 'Details' }}"
            [disabled]="!extension.loaded || extension.type == 'zip'"
          >
            <i c8yIcon="info" class="m-r-4"></i>
            {{ 'Details' | translate }}
          </button>
        </li>
        <li>
          <button (click)="download()" title="{{ 'Download' }}">
            <i c8yIcon="export" class="m-r-4"></i>
            {{ 'Download' | translate }}
          </button>
        </li>
        <li>
          <button (click)="delete()" title="{{ 'Delete' }}">
            <i c8yIcon="trash" class="m-r-4"></i>
            {{ 'Delete' | translate }}
          </button>
        </li>
        <li>
        <button (click)="update()" title="{{ 'Update' }}">
              <i c8yIcon="change" class="m-r-4"></i>
              {{ 'Update' | translate }}
            </button>
          </li>
      </ul>
    </div>
  </div>
</div>
