textarea.numbered {
  /*background: url(http://i.imgur.com/2cOaJ.png);*/
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
}

pre {
  tab-size: 4;
  counter-reset: linecounter;
  padding: 0;
  color: #060606;
  background-color: #333;
  line-height: 16px;
  max-height: 700px;
  /* font-size: var(--c8y-font-size-base); */
  /* font-size: 16px; */
  font-size: smaller;
}

pre span.line {
  counter-increment: linecounter;
  line-height: 6px;
}

pre span.line::before {
  content: counter(linecounter);
  color: red;
  width: 40px;
  display: inline-block;
  border-right: 1px dotted #ccc;
  padding-right: 8px;
  margin-right: 8px;
  text-align: right;
  font-size: smaller;
  line-height: 10px;
}

.padding-editor {
  padding-top: 48px;
  padding-bottom: 24px;
}

.margin-editor {
  margin-top: 48px;
  margin-bottom: 48px;
}

/* pre span.line:nth-child(odd)::before {
  background-color: #555;
} */