textarea.numbered {
  /*background: url(http://i.imgur.com/2cOaJ.png);*/
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
}

pre {
  tab-size: 4;
  counter-reset: linecounter;
  padding: 0;
  color: #060606;
  background-color: #333;
  font-size: 16px;
  line-height: 16px;
  max-height: 700px;
}

pre span.line {
  counter-increment: linecounter;
  line-height: 16px;
}

pre span.line::before {
  content: counter(linecounter);
  color: red;
  width: 30px;
  display: inline-block;
  border-right: 1px dotted #ccc;
  padding-right: 3px;
  margin-right: 5px;
  text-align: right;
  font-size: 16px;
  line-height: 16px;
}

/* pre span.line:nth-child(odd)::before {
  background-color: #555;
} */