<c8y-modal
  title="Repositories for blocks"
  (onClose)="onSave($event)"
  [labels]="labels"
  [headerClasses]="'modal-header dialog-header'"
>
  <div class="viewport-modal">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Url</th>
          <th>Enabled</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repository of repositories; let i = index">
          <td style="padding-top: 4px" width="5%">
            {{ i }}
          </td>
          <td style="padding-top: 4px" width="15%">
            {{ repository.name }}
          </td>
          <td style="padding-top: 4px" width="65%">
            {{ repository.url }}
          </td>
          <td style="padding-top: 8px" width="5%">
            <!-- <i
                style="text-align: center; width: 100%"
                [c8yIcon]="!repository?.enabled ? 'circle-o' : 'plus-circle-o'"
                class="m-r-5"
              ></i> -->
            <button
              title="{{ 'Toggle Activation' | translate }}"
              class="btn btn-icon btn-clean"
              (click)="toogleActivation(repository)"
            >
              <i
                [c8yIcon]="!repository?.enabled ? 'toggle-off' : 'toggle-on'"
                class="m-r-5"
                c8yIcon="toggle-on"
                class="text-danger"
              ></i>
              <span class="sr-only" translate>Toogle activation</span>
            </button>
          </td>
          <!-- <td width="10%" style="padding-top: 0px; padding-bottom: 0px"> -->
          <td width="10%" style="padding-top: 8px">
            <button
              title="{{ 'Update' | translate }}"
              class="btn btn-icon btn-clean p-r-4"
              (click)="editRepository(repository)"
            >
              <i c8yIcon="pencil" class="text-danger"></i>
              <span class="sr-only" translate>Update controller</span>
            </button>
            <button
              title="{{ 'Remove' | translate }}"
              class="btn btn-icon btn-clean"
              (click)="removeRepository(repository.id)"
            >
              <i c8yIcon="trash-o" class="text-danger"></i>
              <span class="sr-only" translate>Remove</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <fieldset class="c8y-fieldset p-16">
      <legend>Update Repository</legend>
      <form [formGroup]="repositoryForm">
        <input type="hidden" formControlName="id" />
        <c8y-form-group>
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
          />
        </c8y-form-group>
        <c8y-form-group>
          <label for="name">Url</label>
          <input
            type="text"
            id="url"
            formControlName="url"
            placeholder="use form: https://api.github.com/repos/{REPO_SAMPLES_OWNER}/{REPO_SAMPLES_NAME}/contents/{REPO_SAMPLES_PATH}"
            class="form-control"
          />
        </c8y-form-group>
        <!-- Add any other form controls based on your repository model -->
        <button (click)="addRepository()" class="btn btn-default">
          Add Repository
        </button>
        <button (click)="updateRepository()" class="btn btn-default">
          Update Repository
        </button>
      </form>
    </fieldset>
  </div>
</c8y-modal>
