<c8y-title translate>Monitoring Streaming Analytics</c8y-title>
<c8y-breadcrumb>
  <c8y-breadcrumb-item [icon]="'c8y-atom'" [label]="'Ecosystem' | translate"></c8y-breadcrumb-item>
  <c8y-breadcrumb-item [icon]="'c8y-streaming-analytics'" [label]="'Analytics' | translate"></c8y-breadcrumb-item>
  <c8y-breadcrumb-item [icon]="'monitoring'" [label]="'Monitoring' | translate"
    [path]="'c8y-pkg-analytics-extension/monitoring'">
  </c8y-breadcrumb-item>
</c8y-breadcrumb>
<div class="card card--grid content-fullpage grid__col--6-6--md">
  <div class="inner-scroll bg-level-0 p-r-8">
    <div class="card-header separator">
      <p class="card-title">{{ 'Status CEP' | translate }}</p>
    </div>
    <div class="card-block large-padding bg-inherit overflow-visible">
      @if (cepOperationObjectId && (cepCtrlStatusLabels$ | async).length > 0) {
      <c8y-properties-list [title]="'CEP Engine Status'" [emptyLabel]="'--'"
        [properties]="cepCtrlStatusLabels$ | async">
      </c8y-properties-list>
      }
      @if (!cepOperationObjectId) {
      <div class="c8y-empty-state">
        <h1 [c8yIcon]="'settings'"></h1>
        <p>
          <strong>This information is not available, since the support microservice is not deployed or the Analytics
            Engine is about to restart.</strong><br />
          <small translate>Deploy microservice <code>analytics-ext-service</code>.</small><br />
        </p>
      </div>
      }
    </div>
  </div>
</div>