<c8y-title translate>Analytics Builder Community Samples</c8y-title>
<c8y-breadcrumb>
  <c8y-breadcrumb-item
    [icon]="'c8y-atom'"
    [label]="'Ecosystem' | translate"
  ></c8y-breadcrumb-item>
  <c8y-breadcrumb-item
    [icon]="'c8y-streaming-analytics'"
    [label]="'Analytics' | translate"
  ></c8y-breadcrumb-item>
  <c8y-breadcrumb-item
    [icon]="'monitoring'"
    [label]="'Monitiring' | translate"
    [path]="'sag-ps-pkg-analytics-extension/monitoring'"
  >
  </c8y-breadcrumb-item>
</c8y-breadcrumb>
<div class="card card--fullpage">
  <!-- <div class="card-header separator">
  </div> -->
  <div class="inner-scroll">
    <div class="card-block separator">
      <p>
        <span
          >In case no extension is loaded after deploying your latest extension
          please try to delete this extension and restart the Streaming
          Analytics again.</span
        >
      </p>
      <p>
        <span>
          When extensions can't be loaded because of errors, the Streaming
          Analytics engine starts in
          <a
            href="https://cumulocity.com/guides/streaming-analytics/troubleshooting/#safe-mode-on-startup"
            target="_blank"
            >Safe Mode</a
          >.</span
        >
      </p>
      <p>
        <span>
          To recover from this situation you have to delete the defective
          extension.</span
        >
      </p>
    </div>
    <div class="card-block separator">
      <div class="legend">Latest Alarms</div>
      <!-- <c8y-form-group>
        <label for="name">Search</label>
        <form class="form-inline">
          <input
            [(ngModel)]="searchString"
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
          />
          <button type="submit" (click)="search()" class="btn btn-primary">Search</button>
        </form>
      </c8y-form-group> -->
      <div style="height: 450px; overflow: auto">
        <div class="card-block">
          <div class="timeline-list list-condensed">
            <div
              class="timeline-list-item d-flex"
              *ngFor="let alarm of (alarms$ | async)?.data"
            >
              <small class="timeline-item-date">
                {{ alarm.lastUpdated | date : "short" }}
              </small>
              <div class="timeline-item-content d-flex flex-wrap">
                <div class="list-item-icon">
                  <i c8yIcon="alarm"></i>
                </div>
                <div class="list-item-body">
                  <div class="row">
                    <div class="col-sm-9">
                      <label class="small" translate>Severity&nbsp;</label>
                      <span>{{ alarm.severity }}</span>
                      <label class="small" translate>&nbsp;&nbsp;Type&nbsp;</label>
                      <span>{{ alarm.type }}</span>
                      <br />
                      <span>{{ alarm.text }}</span>
                    </div>
                    <div class="col-sm-3">
                      <label class="small" translate>Status&nbsp;</label>
                      <span>{{ alarm.status }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer separator">
    <button
      class="btn btn-primary"
      title="{{ 'Previous page' | translate }}"
      (click)="nextPage(-1)"
    >
      <i c8yIcon="arrow-left"></i>
      {{ "Previous page" | translate }}
    </button>
    <button
      class="btn btn-primary"
      title="{{ 'Next page' | translate }}"
      (click)="nextPage(1)"
    >
      <i c8yIcon="arrow-right"></i>
      {{ "Next page" | translate }}
    </button>
  </div>
</div>
